<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" type="text/css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h3>Hola desde el EJS</h3>
    <% if (id % 2 === 0) { %>
        <h1>El número <%= id %> es PAR</h1>
      <% } else { %>
        <h1>El número <%= id %> es IMPAR</h1>
      <% } %>
      
      <ul>
        <% for (let i = 1; i <= id; i++) { %>
          <li><%= i %></li>
        <% } %>
      </ul>
</body>
</html>