body{
    font-family: 'Roboto Condensed', sans-serif;
}

#titulo{
    padding-top: 10px;
    padding-left: 228px;
}

#agregarUsuario{
    padding-left: 228px;
    padding-bottom: 20px;
}

#main-container{
    display: flex;
    justify-content: center;
    margin: 35px auto; 
    width: 70%; 
}

table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;
}

td, th{
    padding: 7px;
    text-align: left
}

th{
    text-align: center;
    color: white;
    background-color: #34495E; 
    border-bottom: solid 2px black;
}

tr:nth-child(even){
    background-color: gainsboro;
}